<div class="container d-flex justify-content-center align-items-center"
     style="min-height: 100vh;">

  <div class="card shadow-lg p-4" style="max-width: 400px; width:100%;">

    <div class="text-center mb-4">
      <h2 class="fw-bold">Iniciar sesión</h2>
      <p class="text-muted">Accede a tu cuenta</p>
    </div>

    <form (ngSubmit)="login()">

      <!-- Email -->
      <div class="form-floating mb-3">
        <input type="email"
               class="form-control"
               id="email"
               [(ngModel)]="email"
               name="email"
               placeholder="Correo"
               required>
        <label for="email">Correo electrónico</label>
      </div>

      <!-- Password -->
      <div class="form-floating mb-3">
        <input type="password"
               class="form-control"
               id="password"
               [(ngModel)]="password"
               name="password"
               placeholder="Contraseña"
               required>
        <label for="password">Contraseña</label>
      </div>

      <!-- Botón login -->
      <button type="submit" class="btn btn-primary w-100 mb-3">
        Entrar
      </button>

    </form>

    <!-- Separador -->
    <div class="text-center mb-3">
      <small class="text-muted">¿No tienes una cuenta?</small>
    </div>

    <!-- Botón registro -->
    <a routerLink="/registro" class="btn btn-danger">
      Crear cuenta
    </a>
<button class="btn btn-danger"
        (click)="pruebaClick()">
  PROBAR CLICK
</button>
        <a routerLink="/perfil" class="btn btn-outline-light btn-sm ms-2">Perfil</a>

    <!-- Botón inicio -->
    <a routerLink="/home" class="btn btn-outline-secondary w-100">
      Volver al inicio
    </a>

  </div>
</div>
