<div class="container d-flex justify-content-center align-items-center"
     style="min-height: 100vh;">

  <div class="card shadow-lg p-4" style="max-width: 400px; width:100%;">

    <div class="text-center mb-4">
      <h2 class="fw-bold">Iniciar sesión</h2>
      <p class="text-muted">Accede a tu cuenta</p>
    </div>

    <!-- FORMULARIO SOLO PARA LOGIN -->
    <form (ngSubmit)="login()">

      <div class="form-floating mb-3">
        <input type="email"
               class="form-control"
               [(ngModel)]="email"
               name="email"
               placeholder="Correo"
               required>
        <label>Correo electrónico</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password"
               class="form-control"
               [(ngModel)]="password"
               name="password"
               placeholder="Contraseña"
               required>
        <label>Contraseña</label>
      </div>

      <button type="submit" class="btn btn-primary w-100 mb-3">
        Entrar
      </button>

    </form>

    <!-- BOTONES FUERA DEL FORM -->
    <div class="text-center mb-3">
      <small class="text-muted">¿No tienes una cuenta?</small>

      <a routerLink="/registro" class="btn btn-outline-success w-100 mb-2">
        Crear cuenta
      </a>

      <a routerLink="/home" class="btn btn-outline-secondary w-100">
        Volver al inicio
      </a>
    </div>

  </div>
</div>
