<nav class="menu">
<nav>
  <a routerLink="/">Inicio</a>

  <span *ngIf="usuario">
    Bienvenido, {{ usuario.nombre }}
    <button (click)="logout()">Salir</button>
  </span>

  <span *ngIf="!usuario">
    <a routerLink="/login">Iniciar sesión</a>
    <a routerLink="/registro">Crear cuenta</a>
  </span>

  <a routerLink="/carrito">Carrito</a>
</nav>

</nav>

<hr>

<h1>Tienda en línea</h1>

<div *ngFor="let categoria of categorias">
  <h2>{{ categoria.nombre }}</h2>

  <div class="productos">
    <div *ngFor="let p of productosPorCategoria[categoria.idCategoria]">
      <h4>{{ p.nombre }}</h4>
      <p>Precio: ${{ p.precio }}</p>

      <button (click)="agregar(p)">
        Agregar al carrito
      </button>
    </div>
  </div>
</div>
